<% provide(:title, "使い方") %>
<h2>習慣管理アプリの使い方</h2>
<p>①何を記録するかを自分で決められます。例えばランニングを毎日10分行う場合は「ランニング10分」という習慣タスクを作成してください。</p>
<p>②チェックボックスを作れます。毎日のタスク管理にも便利です。</p>
<p>③全てのデータに実施日（曜日単位）が指定できます。例えば筋トレを月、木のみ行いたい場合も対応可能です。</p>
<br>
<h4>習慣タスクの作り方</h4>
<ol class="how_to_use_li">
  <li>ログイン後、右上の<i class="fas fa-cog fa-lg"></i>をクリックして習慣タスク設定ページへ移動してください。</li>
  <li>新しく習慣を作成するボタンをクリックしてください。</li>
  <li>続いて「習慣の名前」と「アイコン」と「データタイプ」を選択し、習慣タスクを作成してください。</li>
  <li>習慣タスクを実行できたら、実行結果を記録してください。</li>
</ol>
