<% provide(:title, "Home") %>
<% if logged_in? %>
  <% if @habits == [] %>
    <br>
    <h2>習慣管理アプリについて</h2>
    <div class="lead">
      あなたの毎日行っている習慣や日々のルーティーンを忘れないように管理するためのアプリです。
    </div>
    <br>
    <ol class="how_to_use_li">
      <li>右上の<i class="fas fa-cog fa-lg"></i>をクリックして習慣タスク設定ページへ移動してください。</li>
      <li>新しく習慣を作成するボタンをクリックしてください。</li>
      <li>続いて「習慣の名前」と「アイコン」と「データタイプ」を選択し、習慣タスクを作成してください。</li>
      <li>習慣タスクを実行できたら、実行結果を記録してください。</li>
    </ol>
  <% else %>
    <%= calendar number_of_days: 1 do |date| %>
      <table class="table">
        <tbody>
          <%= render "habit_schedules/list_of_checkboxes", checkboxes: @checkboxes, display_date: date %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% else %>
  <div class="jumbotron mt-4">
    <h1 class="display-4">習慣管理アプリ</h1>
    <p class="lead">あなたのおこなっている日々のルーティーン、毎日の習慣を管理・記録するために作られたアプリです。
      毎日の様々な情報・出来事を管理することができます。</p>
  </div>
<% end %>
