<% provide(:title, "ログイン") %>
<h1 class="text-center"><i class="fas fa-sign-in-alt"></i> ログイン</h1>
<%= form_for(:session, url: sessions_path) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
  </div>
  <div class="text-center">
    <%= f.submit "ログインする", class: "btn btn-outline-secondary form-control rounded-pill submitBtn" %>
  </div>
  <div class="text-center newUserLink">
    <%= link_to new_user_path, class: "small" do %>
      <i class="fas fa-user-plus"></i> 新規登録
    <% end %>
  </div>
  <div class="text-center newUserLink guest_user_link">
    <%= link_to guest_path, method: :post, class: "small" do %>
      <i class="fas fa-mask"></i> お試しログイン
    <% end %>
  </div>
<% end %>
