<% provide(:title, "プロフィール編集") %>
<h1 class="text-center"><i class="fas fa-user-edit"></i> プロフィール編集</h1>
<%= form_with(model: @user, local: true) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
  </div>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワード確認" %>
  </div>
  <div class="text-center">
    <%= f.submit "プロフィールを編集する", class: "btn btn-outline-secondary form-control rounded-pill submitBtn" %>
  </div>
  <div class="text-center deleteLink">
    <%= link_to user_path(current_user), class: "small", method: :delete, data: { confirm: "データは元に戻せません。本当に削除してよろしいですか？" } do %>
      <i class="fas fa-trash"></i> アカウントを削除
    <% end %>
  </div>
<% end %>
