<% provide(:title, "ユーザー一覧") %>
<table class="table">
  <caption>ユーザー一覧</caption>
  <thead>
    <tr>
      <th>No.</th>
      <th>ユーザー</th>
      <th>メール</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
