<% provide(:title, "新規登録") %>
<h1 class="text-center"><i class="fas fa-user-plus"></i> 新規登録</h1>
<%= form_with(model: @user, local: true) do |f| %>
  <%= render "shared/error_messages", object: f.object%>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
  </div>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワード確認" %>
  </div>
  <div class="text-center">
    <%= f.submit "新規登録する", class: "btn btn-outline-secondary form-control rounded-pill submitBtn" %>
  </div>
  <div class="text-center loginLink">
    <%= link_to new_session_path, class: "small" do %>
      <i class="fas fa-sign-in-alt"></i> ログイン
    <% end %>
  </div>
<% end %>
