<% provide(:title, @user.name) %>
<% if current_user.email == "test@example.com"  %>
  <h1 class="text-center"><i class="fas fa-user fa-lg"></i> ゲストユーザー</h1>
  <div class="flexContainer justify-content-center">
    <%= link_to session_path(current_user), class: "btn btn-outline-secondary rounded-pill", method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> ログアウト
    <% end %>
  </div>
<% else %>
  <h1 class="text-center"><i class="fas fa-user fa-lg"></i> <%= @user.name %></h1>
  <div class="flexContainer justify-content-center">
    <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary rounded-pill" do %>
      <i class="fas fa-user-edit"></i> プロフィール編集
    <% end %>
    &nbsp;&nbsp;
    <%= link_to session_path(current_user), class: "btn btn-outline-secondary rounded-pill", method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> ログアウト
    <% end %>
  </div>
<% end %>
