<% date_range.each_slice(7) do |week| %>
  <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
    <% week.each do |day| %>
      <%= content_tag :td, class: calendar.td_classes_for(day) do %>
        <div class="only-flex">
          <%= link_to calendar.url_for_previous_view do %>
            <i class="fas fa-angle-left fa-3x"></i>
          <% end %>
          <div class="day-font-size">
            <%= day %> <small>(<%= t('date.abbr_day_names')[day.wday] %>)</small>
          </div>
          <%= link_to calendar.url_for_next_view do %>
            <i class="fas fa-angle-right fa-3x"></i>
          <% end %>
        </div>
        <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
          <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
        <% else %>
          <% passed_block.call day, sorted_events.fetch(day, []) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
