@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free';

//font
body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial',
               'Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic',
               'メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  color: gray;
}

h1 {
  font-size: 30px;
  line-height: 26px;
  color: inherit;
  margin: 40px 0;
}

// header

header {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  color: gray;
  a {
    color: gray;
  }
  a:hover {
    color: #333;
  }
  .dropdown-item {
    color: gray;
  }
  .dropdown-item:hover {
    color: #333;
  }
  .nav-item {
    margin: 0 10px;
  }
}

.logo-fontsize {
  font-size: 22px;
}

// footer

footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top :1px solid #ccc;
  color: gray;
  small {
    margin-left: 16px;
  }
}

// error_messages

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 30px;
  }
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
}

// forms
.form-group {
  margin: 0 auto 1rem auto;
  max-width: 500px;
}

//link
.newUserLink, .loginLink, .deleteLink {
  line-height: 1rem;
  color: gray;
  text-decoration: none;
  a {
    color: gray;
  }
  a:hover {
    color: #333;
    text-decoration: none;
  }
}

//submitbottun

.submitBtn {
  height: 60px;
  max-width: 230px;
  margin-top: 15px;
  margin-bottom: 15px;
  }

.normalBtn {
  height: 60px;
  width: 230px;
  margin: 15px 10px;
  display: flex;
	align-items: center;
  justify-content: center;
  }

//task.index

.linkAction {
  margin: 20px 0;
  a {
    color: gray;
  }
  a:hover {
    color: #333;
    text-decoration: none;
  }
}

//static_pages_Home

td {
  color: gray;
  a {
    color: gray;
    margin: 0 10px;
  }
  a:hover {
    color: #333;
    text-decoration: none;
  }
}

.done-css {
  color: blue;
}

.how_to_use_li {
  line-height: 1.8rem;
}


// flexContainer

.createBorderH1 {
  border-bottom: 2px solid #333;
}

.flexContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.only-flex{
  display:flex;
  margin:26px 0;
  a {
    padding:0 20px;
    color: gray;
  }
  a:hover {
    color: #333;
    text-decoration: none;
  }
}

//
.day-font-size{
  font-size: 2rem;
  margin: 0 20px;
}

// selectbox

.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
}


.validate-button input[type='radio'] {
  display: none;
}

.validate-button label {
  background-color: #f4f4f4;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
}

.validate-button input[type='radio']:checked + label {
  background-color: #b3b3b3;
}

.validate-button label:hover {
  background-color: #e7e7e7;
}

// check_box
.checkbox-inline {
  margin: 0px 10px;
}

// guest_user_link
.guest_user_link {
  margin: 10px 0px;
}
