<% provide(:title, "習慣の設定") %>
<div class="flexContainer">
  <h1><i class="fas fa-list-ul"></i> 習慣の設定</h1>
  <%= link_to new_habit_path, class: "btn btn-outline-secondary rounded-pill" do %>
    新しく習慣を作成する
  <% end %>
</div>
<div class="row">
  <% @habits.each do |habit| %>
    <div class="col-3">
      <div class="text-center linkAction">
        <%= link_to edit_habit_path(habit.id), class: "edit-habit-link" do %>
          <i class="<%= habit.icon %> fa-3x"></i><br>
          <%= habit.name.truncate(6) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
