<% provide(:title, "習慣タスク作成") %>
<h1 class="text-center"><i class="far fa-calendar-check"></i> 習慣タスク作成</h1>
<%= form_with(model: @habit, local: true) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "習慣タスクの名前" %>
  </div>
  <div class="form-group d-flex justify-content-between validate-button">
    <%= f.radio_button :icon, "fas fa-check-circle", id: "001", checked: true %>
    <%= f.label :icon, for: "001" do %>
      <i class="fas fa-check-circle fa-lg"></i>
    <% end%>
    <%= f.radio_button :icon, "fas fa-pencil-alt", id: "002" %>
    <%= f.label :icon, for: "002" do %>
      <i class="fas fa-pencil-alt fa-lg"></i>
    <% end%>
    <%= f.radio_button :icon, "fas fa-laptop", id: "003" %>
    <%= f.label :icon, for: "003" do %>
      <i class="fas fa-laptop fa-lg"></i>
    <% end%>
    <%= f.radio_button :icon, "fas fa-book", id: "004" %>
    <%= f.label :icon, for: "004" do %>
      <i class="fas fa-book fa-lg"></i>
    <% end%>
    <%= f.radio_button :icon, "fas fa-running", id: "005" %>
    <%= f.label :icon, for: "005" do %>
      <i class="fas fa-running fa-lg"></i>
    <% end%>
    <%= f.radio_button :icon, "fas fa-dumbbell", id: "006" %>
    <%= f.label :icon, for: "006" do %>
      <i class="fas fa-dumbbell fa-lg"></i>
    <% end%>
    <%= f.radio_button :icon, "far fa-check-square", id: "007" %>
    <%= f.label :icon, for: "007" do %>
      <i class="far fa-check-square fa-lg"></i>
    <% end%>
    <%= f.radio_button :icon, "fas fa-book-open", id: "008" %>
    <%= f.label :icon, for: "008" do %>
      <i class="fas fa-book-open fa-lg"></i>
    <% end%>
    <%= f.radio_button :icon, "fas fa-home", id: "009" %>
    <%= f.label :icon, for: "009" do %>
      <i class="fas fa-home fa-lg"></i>
    <% end%>
    <%= f.radio_button :icon, "far fa-copy", id: "010" %>
    <%= f.label :icon, for: "010" do %>
      <i class="far fa-copy fa-lg"></i>
    <% end%>
    <%= f.radio_button :icon, "fas fa-camera", id: "011" %>
    <%= f.label :icon, for: "011" do %>
      <i class="fas fa-camera fa-lg"></i>
    <% end%>
  </div>
  <div class="form-group d-flex">
    <label class="checkbox-inline">
      <%= f.check_box :active_day, {multiple: true}, 0, nil %><span style="font-size: 18px"> 日</span>
    </label>
    <label class="checkbox-inline">
      <%= f.check_box :active_day, {multiple: true}, 1, nil %><span style="font-size: 18px"> 月</span>
    </label>
    <label class="checkbox-inline">
      <%= f.check_box :active_day, {multiple: true}, 2, nil %><span style="font-size: 18px"> 火</span>
    </label>
    <label class="checkbox-inline">
      <%= f.check_box :active_day, {multiple: true}, 3, nil %><span style="font-size: 18px"> 水</span>
    </label>
    <label class="checkbox-inline">
      <%= f.check_box :active_day, {multiple: true}, 4, nil %><span style="font-size: 18px"> 木</span>
    </label>
    <label class="checkbox-inline">
      <%= f.check_box :active_day, {multiple: true}, 5, nil %><span style="font-size: 18px"> 金</span>
    </label>
    <label class="checkbox-inline">
      <%= f.check_box :active_day, {multiple: true}, 6, nil %><span style="font-size: 18px"> 土</span>
    </label>
  </div>
  <div class="form-group">
    <%= f.select :datatype, options_for_select({ "チェックボックス（日々のタスク管理に使ってください）" => "checkbox"}), {}, class: "form-control" %>
  </div>
  <div class="text-center">
    <%= f.submit "習慣タスクを作成する", class: "btn btn-outline-secondary form-control rounded-pill submitBtn" %>
  </div>
<% end %>
