<% @checkboxes.each do |checkbox| %>
  <% if checkbox.habit.active_day.include?(display_date.wday.to_s) %>
    <% if checkbox.scheduled_date == display_date %>
      <%= content_tag "tr", class: "item" do %>
        <% if checkbox.checkbox == true %>
          <%= content_tag "td", id: "checkbox-#{checkbox.id}", class: "done-css" do %>
            <i class="<%= checkbox.habit.icon %> fa-lg fa-fw"></i> <%= checkbox.habit.name %>
          <% end %>
        <% else %>
          <%= content_tag "td", id: "checkbox-#{checkbox.id}" do %>
            <i class="<%= checkbox.habit.icon %> fa-lg fa-fw"></i> <%= checkbox.habit.name %>
          <% end %>
        <% end %>
        <td class="text-right">
          <%= link_to habit_done_path(habit_id: checkbox.habit.id, checkbox_id: checkbox.id), method: :post, remote: true do %>
            <i class="fas fa-check fa-lg fa-fw"></i>
          <% end %>
          <%= link_to habit_notdone_path(habit_id: checkbox.habit.id, checkbox_id: checkbox.id), method: :post, remote: true do %>
            <i class="fas fa-times fa-lg fa-fw"></i>
          <% end %>
        </td>
      <% end %>
    <% end %>
  <% end %>
<% end %>
