<header>
  <nav class="navbar navbar-expand p-4">
    <%= link_to "習慣管理アプリ", root_path, data: {"turbolinks" => false}, class: "navbar-brand logo-fontsize" %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <%= link_to "使い方", static_pages_about_path, class: "nav-link" %>
      </ul>
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to habits_path, class: "nav-link habit-path-link" do %>
              <i class="fas fa-cog fa-lg"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to current_user, class: "nav-link user-path-link" do %>
              <i class="fas fa-user fa-lg"></i>
            <% end %>
          </li>
        <% else %>
        <li class="nav-item">
          <%= link_to new_session_path, class: "nav-link" do %>
            ログイン
          <% end %>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</header>
